/* -----• Подключаем шрифты. Дизайнер с шрифтами не заморачивался, но клиент настоял на этом кол-ве. •----- */

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('/font/Gilroy-Heavy.eot');
    src: url('/font/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'), url('font/Gilroy-Heavy.woff2') format('woff2'), url('font/Gilroy-Heavy.woff') format('woff'), url('font/Gilroy-Heavy.ttf') format('truetype'), url('font/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Light.eot');
    src: url('font/Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('font/Gilroy-Light.woff2') format('woff2'), url('font/Gilroy-Light.woff') format('woff'), url('font/Gilroy-Light.ttf') format('truetype'), url('font/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url(font/'Arvo-Italic.eot');
    src: url('font/Arvo-Italic.eot?#iefix') format('embedded-opentype'), url('font/Arvo-Italic.woff2') format('woff2'), url('font/Arvo-Italic.woff') format('woff'), url('font/Arvo-Italic.ttf') format('truetype'), url('font/Arvo-Italic.svg#Arvo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arvo';
    src: url('font/Arvo.eot');
    src: url('font/Arvo.eot?#iefix') format('embedded-opentype'), url('font/Arvo.woff2') format('woff2'), url('font/Arvo.woff') format('woff'), url('font/Arvo.ttf') format('truetype'), url('font/Arvo.svg#Arvo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Black.eot');
    src: url('font/Gilroy-Black.eot?#iefix') format('embedded-opentype'), url('font/Gilroy-Black.woff2') format('woff2'), url('font/Gilroy-Black.woff') format('woff'), url('font/Gilroy-Black.ttf') format('truetype'), url('font/Gilroy-Black.svg#Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-ExtraBold.eot');
    src: url('font/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('font/Gilroy-ExtraBold.woff2') format('woff2'), url('font/Gilroy-ExtraBold.woff') format('woff'), url('font/Gilroy-ExtraBold.ttf') format('truetype'), url('font/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('font/Arvo-BoldItalic.eot');
    src: url('font/Arvo-BoldItalic.eot?#iefix') format('embedded-opentype'), url('font/Arvo-BoldItalic.woff2') format('woff2'), url('font/Arvo-BoldItalic.woff') format('woff'), url('font/Arvo-BoldItalic.ttf') format('truetype'), url('font/Arvo-BoldItalic.svg#Arvo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('font/Gilroy-Regular.eot');
    src: url('font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('font/Gilroy-Regular.woff2') format('woff2'), url('font/Gilroy-Regular.woff') format('woff'), url('font/Gilroy-Regular.ttf') format('truetype'), url('font/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo';
    src: url('font/Arvo-Bold.eot');
    src: url('font/Arvo-Bold.eot?#iefix') format('embedded-opentype'), url('font/Arvo-Bold.woff2') format('woff2'), url('font/Arvo-Bold.woff') format('woff'), url('font/Arvo-Bold.ttf') format('truetype'), url('font/Arvo-Bold.svg#Arvo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('font/TenorSans.eot');
    src: url('font/TenorSans.eot?#iefix') format('embedded-opentype'), url('font/TenorSans.woff2') format('woff2'), url('font/TenorSans.woff') format('woff'), url('font/TenorSans.ttf') format('truetype'), url('font/TenorSans.svg#TenorSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
}

@media screen and (max-width:465px) {
    body {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}


/* ----- • Button design • ----- */

button {
    box-shadow: 0 17px 29px rgba(254, 186, 19, 0.63);
    border-radius: 10px;
    border: 1px solid #fcd20d;
    background-image: linear-gradient(to top, #fcd10e 0%, #fcd10e 1%, #ffaa16 5%, #fcd20d 100%);
    font-family: "Gilroy";
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

button:active {
    box-shadow: 0 17px 29px;
    border-radius: 10px;
    border: 1px solid #fcd20d;
    background-image: linear-gradient( to top, #fcd10e 0%, #fcd10e 1%, #ffaa16 5%, #fcd20d 100%);
    cursor: pointer;
}


/* ----- • Обертка • ----- */

.pack {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width:465px) {
    .pack {
        max-width: 300px;
    }
}

.head {
    font-family: "Arvo";
    font-size: 36px;
    letter-spacing: 0.09px;
}

@media screen and (max-width:465px) {
    .head {
        font-size: 22px;
    }
}


/* -----• Header •----- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-top: 2%;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:465px) {
    .header__inner {
        flex-direction: column;
    }
}

.sample {
    display: flex;
    align-items: center;
}

@media screen and (max-width:465px) {
    {
        display: none;
    }
}

.sample__text {
    font-family: "Gilroy";
    margin-left: 1em;
}

.social {
    margin: 0 1em 0 0;
}

.address {
    display: flex;
}

.tel {
    font-family: "Arvo";
    color: #191919;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1.15px;
}

@media screen and (max-width:465px) {
    .tel {
        font-size:30px;
    }
}

.header__text {
    font-family: "Gilroy";
    color: #898989;
    font-size: 14px;
    line-height: 21px;
}

.attention {
    font-weight: 900;
}


/* -----• intro •----- */

.intro {
    background-position: center center;
    background: url(image/background-intro.jpg) center no-repeat;
    height: 100vh;
    background-size: cover;
}

.padding_intro {
    padding-top: 175px;
}

@media screen and (max-width:465px) {
    .padding_intro {
        padding-top: 350px;
    }
}

.proba {
    display: flex;
}

@media screen and (max-width:465px) {
    .proba {
        display: block;
    }
}

.book {
    display: flex;
    align-items: end;
    padding-top: 70px;
}

.book__text {
    max-width: 355px;
    font-family: "Gilroy";
    line-height: 20px;
}

.chair__foto {
    position: relative;
    z-index: 11;
    margin: 10px 0 0 114px;
}

@media screen and (max-width:465px) {
    .chair__foto {
        position: static;
    }
}

.circle {
    width: 145px;
    height: 145px;
    background-color: #fdc710;
    border-radius: 50%;
    display: flex;
    position: relative;
    left: 774px;
    bottom: 320px;
    z-index: 10;
}

@media screen and (max-width:465px) {
    .circle {
        position: static;
    }
}

.chair__text {
    text-align: center;
    line-height: 1.3em;
    font-family: "Gilroy";
    align-self: center;
}

.btn__intro {
    width: 355px;
    height: 64px;
}

@media screen and (max-width:465px) {
    .btn__intro {
        width: 290px;
    }
}

.yellow {
    position: absolute;
    right: 0;
    top: 0;
}


/* ----- • Screen two • ----- */

.screen__two {
    background-image: url(image/wood_bck.svg);
    background-repeat: no-repeat;
    background-position: bottom -75px left -140px;
    margin-top: 100px;
}

.screen__two__head {
    display: flex;
}

.title {
    font-family: "Arvo";
    color: #191919;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.text {
    background: linear-gradient(to left, #bababa 0%, #6f6f6f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #191919;
    font-size: 18px;
    line-height: 28px;
    min-width: 300px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width:465px) {
    .gallery {
        flex-direction: column;
    }
}

.gallery__item {
    border: 7px solid #181818;
}

.gallery__title__description {
    display: inline-block;
    margin: 15px 0 20px 0;
    color: #191919;
    font-size: 24px;
    font-weight: 400;
    font-family: "Gilroy";
    font-weight: 800;
}

.desk {
    font-family: "Gilroy";
    font-weight: 300;
    color: #626262;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 100px;
}


/* ----- • Screen three • ----- */

.screen__three {
    padding: 95px;
    text-align: center;
    background-image: url(image/shrub.png), linear-gradient(46deg, #191919 0%, #383838 100%);
    background-repeat: no-repeat;
    background-position: left bottom -70px, center center;
    position: relative;
}

.title_screen__three {
    margin: 0 0 92px 0;
}

.white {
    /* ----- • Задаем цвет заголовку и описанию под фото • ----- */
    color: white;
}

.advantages {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width:465px) {
    .advantages {
        display: block;
    }
}

.advantages_box {
    text-align: center;
}

.advantages_box p {
    text-align: left;
}

.advantages_box:nth-last-child(n+2) {
    margin-right: 90px;
}

.width500 {
    font-weight: 500;
}

.light {
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 50;
    filter: drop-shadow(16px -6px 27px black);
}


/* ----- • Screen for • ----- */

.screen__for {
    padding: 90px;
}

@media screen and (max-width:465px) {
    .screen__for {
        padding: 20px;
    }
}

.title_screen__three {
    text-align: center;
}

.product {
    display: flex;
    justify-content: space-around;
}

.product__item {
    width: 233px;
    height: 469px;
    border-radius: 10px;
    background-color: #f8f8f8;
    text-align: center;
}

.product__item:hover {
    box-shadow: 0 0 10px 5px #d4d4d4;
}

.sale {
    width: 44px;
    height: 23px;
    border-radius: 5px;
    background-color: #f24841;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 1.7em;
    font-family: "Gilroy";
    font-weight: 700;
}

.old__sale {
    color: #898989;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: center;
    font-family: "Arvo";
}

.product__desk {
    margin-bottom: 15px;
}

.cost {
    width: 149px;
    height: 32px;
    border-radius: 5px;
    margin: 10px auto 0px auto;
    background-color: #fdc710;
    text-align: center;
    line-height: 2em;
}


/* ----- • Screen five • ----- */

.screen_five {
    padding-bottom: 90px;
    background: url(image/wood-sf.svg) no-repeat right;
    background-position-x: 1680px;
    background-position-y: 401px;
}

.title__screen__five {
    display: flex;
    padding-bottom: 70px;
}

.title__sf {
    margin: 0;
}

.circle_book {
    display: flex;
    position: relative;
}

@media screen and (max-width:465px) {
    .circle_book {
        display: inline-block;
        position: static;
    }
}

.circle__book__foto {
    position: absolute;
    right: 105px;
}

@media screen and (max-width:465px) {
    .circle__book__foto {
        display: inline-block;
        position: static;
    }
}

.circle_sf {
    width: 145px;
    height: 145px;
    background-color: #fdc710;
    border-radius: 50%;
    display: flex;
}

.circle_sf__text {
    font-family: "Gilroy";
    color: #191919;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.text_center {
    text-align: center;
}

.btn_ss {
    margin: 0 auto;
    display: block;
}


/* ----- • Screen six • ----- */

.screen__six {
    background: url(image/background-ss.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover;
    min-height: 1140px;
    padding: 95px 0;
}

@media screen and (max-width:465px) {
    .screen__six {
        padding: 20px;
    }
}

.advertising {
    display: flex;
    justify-content: space-between;
}

.advertising__box {
    display: flex;
    align-items: center;
}

@media screen and (max-width:465px) {
    .advertising {
        display: block;
        margin: 0 auto;
    }
}

.advertising_stroke {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

@media screen and (max-width:465px) {
    .advertising_stroke {
        display: block;
        margin: 0 auto;
    }
}

.btn_six {
    width: 287px;
    height: 64px;
}

.advertising__text {
    font-family: "Gilroy";
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20px;
}

.small {
    color: #191919;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    font-family: "Gilroy";
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}


/* ----- • Screen seven • ----- */

.scree__seven {
    background-image: url(image/bckg-seven-left.svg), url(image/bck-seven-right.svg), url(image/yellow.png);
    background-repeat: no-repeat;
    background-position: left -70px top, right bottom, right 200px top 30px;
    padding: 35px 0 95px 0;
}

@media screen and (max-width:465px) {
    .scree__seven {
        background-color: aqua;
        background-image: none;
    }
}

.benefit {
    display: flex;
}

@media screen and (max-width:465px) {
    .benefit {
        display: block;
    }
}

.benefit__list__item {
    font-family: "Gilroy";
    list-style-type: none;
    margin-bottom: 70px;
    list-style-image: url(image/bckg-list-seven-screen.png);
}

.benefit__foto {
    margin-right: 40px;
}

.footer {
    padding: 95px;
    background-image: url(image/footer-chrumb.png), url(image/footer-lamp.png), linear-gradient(-216deg, #383838 0%, #191919 100%);
    background-repeat: no-repeat;
    background-position: right -170px bottom, left -290px bottom -310px, center center;
}

@media screen and (max-width:465px) {
    .footer {
        padding: 20px;
    }
}

.ftr_foto {
    margin-bottom: 30px;
}


/* ----- Убираем из мобильной версии ----- */

@media screen and (max-width:465px) {
    .circle_book,
    .text,
    .chair,
    .book,
    .circle,
    .circle_sf,
    .social__icon,
    .sample
    {
        display: none;
    }
}